.login__input-error_second {
  position: absolute;
  top: 240px;
  left: 36px;
  line-height: 15px;
  font-size: 12px;
  color: #FF0000;
}

.login__input-error_second-short {
  top: 135px;
}


@media screen and (max-width:650px) {
  .login__input-error_second {
    top: 252px;
    left: 22px;
  }
}

@media screen and (max-width:650px) {
  .login__input-error_second-short {
    top: 120px;
    left: 22px;
  }
}