.profile__edit-button {
  height: 24px;
  width: 24px;
  align-self: end;
  margin-bottom: 8px;
  background-color: #000;
  border: 1px solid #fff;
  background-image: url(../../../images/pencil.svg);
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width:950px) {
  .profile__edit-button {
    height: 18px;
    width: 18px;
    margin-bottom: 6px;
  }
}