.popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 430px;
  border-radius: 10px;
  background-color: #fff;
}

@media screen and (max-width:650px) {
  .popup__container {
    width: 282px;
  }
}