.element-place__like-button {
  height: 19px;
  width: 22px;
  background-image: url(../../../images/heart.svg);
  border: none;
  align-self: center;
  background-color: #fff;
  padding: 0;
}

.element-place__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}