.header {
  display: flex;
  
  max-width: 880px;
  width: 100%;
  margin: 0 auto 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  justify-content: space-between;
}

@media screen and (max-width:950px) {
  .header {
    max-width: 578px;
  }
}

@media screen and (max-width:650px) {
  .header {
    max-width: 320px;
  }
}